<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css">
    <title>TP TensorFlow</title>
</head>

<body class="body">
    <div class="card">
        <div class="container">
            <h3><b>Veuillez choisir votre photo</b></h3>
            <form action="/upload" method="post" id="upload-form">
                <input type="file" id="avatar" name="avatar"  accept="image/png, image/jpeg">
                <div class="button">
                    <button type="submit">Valider</button>
                </div>
            </form>
            
        </div>
    </div>
</body>

</html>