<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css">
    <title>TP TensorFlow</title>
</head>

<body class="body">
    <div class="card">
        <div class="container">
            <h3><b>Veuillez choisir votre photo</b></h3>
            <input type="file" id="avatar" name="avatar" action="/catchpic" accept="image/png, image/jpeg">
            <div class="button">
                <button>Valider</button>
            </div>
        </div>
    </div>
</body>

</html>